#bgImage {
    background-image: url("images/backgroundmario.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.leftContainer {
    background-color: #f8eded;
    width: 300px;
    float: left;
    height: 300px;
    line-height: 1.5;
    margin-top: 10%;
    margin-left: 3%;
    font-family: Righteous, sans-serif;
    color: #6b7482;
    border: #d1cece solid 3px;
    text-align: center;
    font-size: large;
    padding-top: 5px;
}

h1 {
    font-size: 40px;
    font-family: Righteous, sans-serif;
    color: #6b7482;
    text-align: center;
    margin-top: 1%;
}

#keyStart {
    font-size: 20px;
    font-family: Righteous, sans-serif;
    color: #6b7482;
    text-align: center;
}

.rightContainer {
    background-color: #f8eded;
    width: 300px;
    float: right;
    height: 300px;
    line-height: 1.5;
    margin-top: 10%;
    margin-right: 5%;
    border: #d1cece solid 3px;
    text-align: center;
    font-family: Righteous, sans-serif;
    color: #6b7482;
    font-size: large;
    padding: 5px;
}