

.header{
    margin-top: 0;
    text-align: center;
    background-color: #4d8082;
    color: whitesmoke;
    font-family: 'Righteous', cursive;
    font-size: x-large
}

#keyStart{
    text-align: center;
    color: #4d8082;
    font-family: Righteous, cursive;
    font-size: larger;

}

.container{
    text-align: center;
    font-family: Righteous, cursive;
    color: whitesmoke;
    background-color: #b39595;
    width: 50%;
    margin-left: 25%;
}

footer{
    color: #4d8082;
    font-family: Righteous, cursive;
    text-align: center;
    margin-bottom: 0;
    padding: 25px;
}